LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key
LIVEKIT_API_SECRET=your_livekit_api_secret

DEEPGRAM_API_KEY=your_deepgram_api_key

MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

CLERK_ISSUER_URL=https://your-slug.clerk.accounts.dev

GOOGLE_API_KEY=your_google_api_key
GROQ_API_KEY=your_groq_api_key

REDIS_URL=rediss://default:<password>@your-endpoint.upstash.io:6380

EXECUTOR_SECRET_KEY=s82G1kL9zwpQ2rVwX7tmT4ynY414bU60aF07Dq
EXECUTOR_URL=http://go-executor:8050

INTERNAL_API_URL=http://localhost:8000/api/internal